// Font Families
$g-font-primary: "Barlow", sans-serif;
$g-font-secondary: "Alegreya", serif;

//
// Colors
//

// Primary Color
$g-color-primary: #a61d37;
$g-color-primary-light-v1: #9f3347;
$g-color-primary-dark-v1: #410e18;

// Main Colors
$g-color-text: #3f4d5d;
$g-color-text-light-v1: #6e7887;

$g-color-footer-links: #22364c;

$g-color-main: #26304d;
$g-color-main-light-v1: #313c5c;
$g-color-main-light-v2: #44537e;
$g-color-main-dark-v1: #212b46;
$g-color-main-dark-v2: #1f2740;
$g-color-main-dark-v3: #060a14;

$g-color-secondary: #f5f6fa;
$g-color-secondary-light-v1: #c0c5cc;
$g-color-secondary-light-v2: #e4e6e9;
$g-color-secondary-dark-v1: #f0f2f8;
$g-color-secondary-dark-v2: #eceff6;
